<div class='form-horizontal'>
    <div class='form-group' ng-class="{'col-md-12': !config.widthClass, '{{config.widthClass}}' : !!config.widthClass}" ng-repeat='config in formCtrl.config track by $index'>
        <div ng-if='config.type != "select" && config.type != "checkbox" && config.type != "textarea"'>
            <label class='control-label'>{{config.label}}</label>
            <div>
                <input type='{{config.type}}' name='{{config.fieldName}}' ng-model='formCtrl.model[config.fieldName]' placeholder='{{config.label}}'
                    class='form-control' ng-disabled='config.disabled' />

            </div>
        </div>

        <div ng-if='config.type == "select"'>
            <label class='control-label'>{{config.label}}</label>
            <div>
                <select ng-model='address.test' class="form-control" ng-disabled='config.disabled' ng-options='option.code as option.description for option in config.options'></select>
            </div>
        </div>
        <div>
            <div ng-if='config.type == "checkbox"'>
                <div>
                    <input type='checkbox' name='{{config.fieldName}}' ng-model='formCtrl.model[config.fieldName]' placeholder='{{config.label}}'
                        ng-disabled='config.disabled' />
                    <label class='control-label'>{{config.label}}</label>
                </div>

            </div>
            <div ng-if = 'config.type == "textarea"'>
                  <label class='control-label'>{{config.label}}</label>
            <div>
            <textarea class="form-control" name='{{config.fieldName}}' ng-model='formCtrl.model[config.fieldName]' rows = '{{config.row}}'  ></textarea>
            <div>
        </div>
    </div>
</div>