<table class='table table-striped table-bordered'>
    <tr>
        <th ng-repeat='config in grid.config track by $index'>{{config.displayName}}</th>
    </tr>
    <tr ng-repeat="row in grid.rows track by $index">
        <td ng-repeat="config in grid.config  track by $index">
            <span ng-if='config.fieldName !== "actionBtn"'>   {{row[config.fieldName]}} </span>
            <span ng-if='config.fieldName === "actionBtn"'>
            <a ng-click='grid.onDelete({row:row})' href='' ng-if="!!config.delete" > <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>{{config.delete}}</a>
            <a ng-click='grid.onEdit({row:row})' href='' ng-if="!!config.edit"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>{{config.edit}}</a>
            </span>
        </td>
    </tr>
</table>