<table class='table table-striped table-bordered'>
    <tr>
        <th ng-repeat='config in grid.config track by $index'>{{config.displayName}}</th>
    </tr>
    <tr ng-repeat="row in grid.rows">
        <td ng-repeat="config in grid.config  track by $index">
            <span ng-if='config.fieldName !== "actionBtn"'>   {{row[config.fieldName]}} </span>
            <span ng-if='config.fieldName === "actionBtn"'>
            <a ng-click='grid.onDelete({row:row})' href='' ng-if="!!config.delete" > <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>{{config.delete}}</a>
            <a ng-click='grid.edit({row:row})' href='' ng-if="!!config.edit"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>{{config.edit}}</a>
            <a ng-click ='grid.onSave({row:row})' href ='' > {{config.save}}</a>
            
            </span>
        </td>
    </tr>
   
</table>
 <button ng-click= 'grid.back()' type = 'submit' class ='btn btn-primary pull-right'>back</button>
 <button ng-click= 'grid.updateOneData()' type = 'submit' class ='btn btn-primary pull-right'>update</button>
  <button ng-click= 'grid.update()' type = 'submit' class ='btn btn-primary pull-right'>update</button>
